{% extends 'base.html.twig' %}

{% block title %}
  Rejoindre Racines Urbaines
{% endblock %}

{% block body %}
  <section class="flex justify-center items-center h-screen">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-">
      <h1 class="text-2xl font-bold mb-6">Devenez membres</h1>

      <form method="post" data-turbo-frame="form-frame">
        <div class="field">
          <label class="label">Nom d'utilisateur</label>
            <input class="mb-4 w-full p-2 border border-gray-300 rounded" type="text" name="username"/>
          {% for message in app.flashes('error_username') %}
            <p class="help is-danger">{{ message }}</p>
          {% endfor %}
        </div>
        
        <div class="field">
          <label class="label">Email</label>
            <input class="mb-4 w-full p-2 border border-gray-300 rounded" type="email" name="email"/>
          {% for message in app.flashes('error_email') %}
            <p class="help is-danger">{{ message }}</p>
          {% endfor %}
        </div>

        <div class="field">
          <label class="label">Mot de passe</label>
            <input class="mb-4 w-full p-2 border border-gray-300 rounded" type="password" name="password"/>
          {% for message in app.flashes('error_password') %}
            <p class="help is-danger">{{ message }}</p>
          {% endfor %}
        </div>

        {# TODO: Ajouter si l'utilisateur est Admin ou SuperAdmin posibilité de créer admin  #}
        {# <div class="field">
          <label class="label">Rôle</label>
          <div class="control">
            <div class="select">
              <select name="role">
                {% for role in roles %}
                  <option value="{{ role.role }}">{{ role.title }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% for message in app.flashes('error_roles') %}
            <p class="help is-danger">{{ message }}</p>
          {% endfor %}
        </div> #}

          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Enregistrer</button>

      </form>
    </div>
  </section>

  <turbo-frame id="form-frame"></turbo-frame>
{% endblock %}